@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: gray;
    grid-column-start: 1;
    grid-column-end: 5;
}

.caixa2 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(3, 12, 15);
    grid-column-start: 1;
    grid-column-end: 3;

}

.caixa3 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: lightyellow;
    grid-column-start: 3;
    grid-column-end: 5;
}